@page
@model Final_Project_PRN.Pages.Schedules.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Schedules</h1>
<style>

    .table td {
        border: white solid 2px;
    }

    .table td {
        text-align: center;
        vertical-align: middle;
    }

    .table tr:nth-child(2n) {
        background-color: aliceblue;
    }

    .table .header {
        background-color: cornflowerblue;
    }

    #header {
        background-color: cornflowerblue;
        font-weight: bold;
    }

    #dateth{
        text-align: center;
    }
    #createBut{
        border: black solid 2px;
        background-color: blue;
        border-radius: 10px;
        margin: 10px;
        
    }
    #createBut a{
        color: white;
        font-size: 20px;
        text-decoration: none;
    }
    #createBut:hover{
        background-color: dodgerblue;
    }
</style>
<button id="createBut">
    <a asp-page="Create">Add Schedule</a>
</button>
@* <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Schedule[0].Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule[0].SlotId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule[0].DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule[0].Season)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule[0].Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule[0].Class)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule[0].Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule[0].Teacher)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Schedule) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Room)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SlotId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Season)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class.ClassId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject.SubjectId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeacherNavigation.TeacherId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table> *@
<table class="table">
    <tr id="header">
        <form method="post" asp-page-handler="date">
            <th colspan="5" id="dateth">
            DATE: <input type="date" name="dadate" value="@Model.selectedDate.ToString("yyyy-MM-dd")" />
                <input type="submit" value="View" style="padding-left: 10px; border-radius: 5px;" />
            </th>
        </form>
    </tr>
    <tr class="header" id="header">
        <td>Room</td>
        <td>Slot 1 <br /> (7:30 - 9:50)</td>
        <td>Slot 2 <br /> (10:00 - 12:20)</td>
        <td>Slot 3<br /> (12:50 - 15:10)</td>
        <td>Slot 4<br /> (15:20 - 17:40)</td>
    </tr>
    @{
        var dictionary = Model.dictionary;
    }
    @foreach (var room in Model.RoomInSchedule)
    {
        <tr>
            <td>@room</td>
            @for (int i = 1; i <= 4; i++)
            {

                var key = Tuple.Create(room, i);
                Common.DisplayCell value = new Common.DisplayCell();
                if (dictionary.TryGetValue(key, out value))
                {
                    <td>
                        @value.Class<br />
                        @value.Subject<br />
                        @value.Teacher
                    </td>
                }
                else
                {
                    <td></td>
                }
            }
        </tr>
    }
</table>
